# Deployment & DB
DATABASE_URL=
PORT=8080
NODE_ENV=development
LOCAL_DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/a1prime_local

# Auth Secrets
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Redis / BullMQ
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# AWS/Cloudflare R2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ENDPOINT=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
